<!DOCTYPE html>
<html>
<head>
  <title>TwitterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

 <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <span class="navbar-brand">
          <%= link_to image_tag("twitter_bird.png", height: "30"), tweets_path %>
        </span>
          <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-pencil"></span>
          </button>
      </div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Create Tweet", new_tweet_path %></li>
      </ul>
    </div>
  </nav>

  <hr>

<%= yield %>

</body>
</html>
